h1{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 60px;
    margin-bottom: 100px;
}
.wall_img_1 {
    width: 100%;
    height: 600px;
    margin: 40px auto;
    transition: all 0.2s ease-in-out;
}
.wall_img_2 {
    width: 100%;
    height: 400px;
    margin: 20px auto;
    transition: all 0.2s ease-in-out;
    text-shadow: 50px 50px 50px 50px #000000;
}
.wall_img_1:hover,
.wall_img_2:hover {
    filter: grayscale(0%);
}
.wall_img_1:before,
.wall_img_2:before {
    content: attr(id);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    display: block;
    font-size: 45px;
    color: rgb(223, 223, 217);
}
.wall_img_1:hover::before,
.wall_img_2:hover::before {
    content: attr(id);
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.61'%3E%3Cpolygon fill='%23f8f4fd' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23f1eafa' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23eadff8' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23e3d4f5' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23dcc9f3' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23d5bff0' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23CEB4EE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #898a9d;
    transition: 0.4s;
}

.nav-link {
    font-size: 1em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.dropdown-menu {
    background-color: #7e7fac;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #7e7fae;
    color: #fff;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7e7e8c;
}